*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.625;
  font-weight: 400;
  font-size: 14px;
}
.container{
  width: 1170px;
  margin: 0 auto;
}
.nav{
  height: 55px;
  padding: 10px 0;
}
.navbar-links li{
  width: 190px;
}
.navbar-links a{
  text-decoration: none;
  color: #434343;
  line-height: 1.625;
  font-size: 16px; 
}
.nav-search{
  display: flex;
  gap: 20px;
}
.nav-logo{
  height: 35px;
}
/* Dropdown Button */
.dropbtn {
  color: #434343;
  font-size: 16px;
  border: none;
  background: white;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 90px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* header */
.header .carousel-caption h3{
  font-size: 60px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  line-height: 1.1;
}
.button-carousel{
  display: inline-block;
  padding: 0px 15px;
  font-size: 18px;
  margin-top: 20px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid transparent;
  color: #323232;
  line-height: 36px;
  transition: all .15s ease-in-out;
}
.button-carousel:hover{
  background-color: white;
}
.header .carousel-caption{
  top: 120px;
  right: 0;
  left: 0;
  text-align: left;
}
/* header end */
/* header-text */
.header-text{
  margin: 60px 0;
}
.header-text--title{
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}
.header-text--description{
  margin: 0 0 10px;
  line-height: 1.625;
  font-size: 14px;
  color: #434343;
}
.header-text--link{
  color: #da0816;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.625;
  text-decoration: none;
}
/* header-text end */
/* products */
.products{
  background: #f5f5f5;
  padding-top: 40px;
  padding-bottom: 40px;
}
.products-title{
  font-size: 36px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 45px;
  font-weight: 500;
}
.product-card{
  margin-bottom: 30px;
  background: none;
  padding: 0;
  box-shadow: 0 0 0;
}
.product-card-link{
  padding: 0 15px;
}
.products .product-card img{
  width: 100px;
  transition: transform 3s cubic-bezier(.23, 1, .32, 1);
  transform: scale(1);
}
.products .product-card img:hover{
  transform: scale(1.1);
}
.product-card-link h4{
  font-size: 17px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
/* solution */
.solution{
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
.solution-title{
  margin-bottom: 0;
  line-height: 1;
  font-size: 36px;
}
.solution-more{
  text-decoration: none;
  float: right;
  color: #222222;
  font-size: 22px;
  line-height: 1.625;
  font-weight: normal;
  margin-bottom: 60px;
}
.solution-card{
  background: #dce6ee;
  border-radius: 6px;
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: 406px;
  color: #434343;
}
.solution-card--left{
  margin-left: 8.3%;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.solution-left-text h3{
  font-size: 28.000000000000004px;
  line-height: 38px;
  margin-bottom: 5px;
  margin-top: 0;
}
.solution-info{
  font-size: 14px;
  line-height: 22px;
  color: #666666;
}
.solution-left-text ul{
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.solution-left-text ul li{
  font-size: 17px;
  text-align: left;
}
.solution-card .read-more{
  font-size: 20px;
  color: #282828;
  margin-top: 40px;
  display: block;
  line-height: 34px;
}
.solution-card--right .solution-img{
  position: absolute;
  top: -105px;
  right: 0;
}
.solution-card--right .solution-img img{
  width: 542px;
  display: block;
  height: 630px;
  border: 0;
}
/* solution end */
/* key_body */
.key_body {
  background: url(../img/keybg.jpg);
  background-size: contain;
  padding: 50px 0;
  margin-top: 70px;
  margin-bottom: 70px;
}
.keys_left{
  background: url(../img/key022.png) no-repeat left center;
  background-size: contain;
}
.key_body .key{
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 20px;
  margin-bottom: 0;
  list-style: none;
  margin-top: 0;
}
.keys_right .key img{
  width: 50px;
  height: 45px;
}
.keys_right .key h4{
  font-size: 17px;
  line-height: 1.4;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}
.keys_right .key a{
  font-size: 14px;
  float: right;
  color: #000;
  text-decoration: none;
}
.keys_right .key li{
  margin: 10px 0;
}
/* key_body end */
/* news */
.news{
  margin-top: 70px;
  margin-bottom: 70px;
  position: relative;
}
.news-cards .news-card{
  padding: 0px;
  margin: 0;
}
.news-card-text{
  padding: 0 5%;
}
.news-cards .news-card-text h2{
  font-size: 36px;
  line-height: 1.5;
  margin-top: 20px;
  margin-bottom: 10px;
}
.news-cards .news-card-text a{
  color: #434343;
  text-decoration: none;
}
/* footer */
.footer{
  background: #edf0f1;
  padding-top: 30px;
}
.footer .footer__content i{
  font-size: 12px;
  margin-left: 3px;
  transition: all 1s;
}
.footer .footer__content a:hover{
  margin-left: 5px;
}
.footer__content h3 a{
  font-size: 22px;
  text-decoration: none;
  font-weight: 700;
  color: #282828;
  margin-top: 20px;
  line-height: 1.1;
}
.footer__content h3{
  margin-bottom: 20px;
}
.footer-links{
  padding-left: 0;
}
.footer__content .footer-links li{
  list-style: none;
  padding-bottom: 15px;
}
.footer__content .footer-links a{
  color: #282828;
  text-decoration: none;
  outline: 0;
}
.footer__logos{
  display: flex;
  flex-wrap: wrap;
}
.footer__logos a{
  width: 50%;
  display: flex;
  text-decoration: none;
  justify-content: flex-end;
}
.footer__logos .fa-brands, .footer__logos .fa-solid{
  font-size: 28px;
  color: black
}
.footer__logos .fa-brands:hover, .footer__logos .fa-solid:hover{
  color: #282828;
}
/* footer end */